DO_ACCESS_KEY=
DO_SECRET_KEY=
DO_ENDPOINT=https://nyc3.digitaloceanspaces.com
DO_REGION=nyc3
DO_BUCKET=profit-ecommerce-images
DO_CDN_BASE=https://profit-ecommerce-images.nyc3.cdn.digitaloceanspaces.com
PORT=8042
CORS_ORIGIN=http://192.168.4.23:8041
